---
import MainContentLayout from "../../layouts/MainContentLayout.astro";
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';

// 1. Load slug from route
const { slug } = Astro.params;

if (!slug) {
  throw new Error('Missing slug param');
}

// 2. Fetch the entry by slug
const post = await getEntry('blog', slug);

if (!post) {
  throw new Error(`Post not found: ${slug}`);
}

// 3. Render content
const { Content } = await post.render();
const { data } = post;

// 4. Required for dynamic routes
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const dateObj = new Date(data.pubDate);
const formattedDate = dateObj.toLocaleDateString('en-IN', {
  day: '2-digit',
  month: 'long',
  year: 'numeric',
});
const formattedTime = dateObj.toLocaleTimeString('en-IN', {
  hour: '2-digit',
  minute: '2-digit',
  hour12: true,
});

const formattedTimeStamp = `Posted: ${formattedDate} • ${formattedTime} • Vivek Nayak`;
---


<MainContentLayout>
  <div id="single-blog-page">
    <div>
      <h3 class="blog-title">{data.title}</h3>
      <p class="text-gray-500 font-semibold"><small>{formattedTimeStamp}</small></p>
      <div class="title-divider">
    </div>
    <Content />
  </div>
</MainContentLayout>